body {
    padding-top: 40px;
}
.jumbotron {
    padding: 20px 30px !important;
}

.search-controls {
    margin: 10px 0px;
}

.search-controls a {
    margin-left: 15px;
}

.price-range {
    width: 45% !important;
}